.About{
	display: flex;
	justify-content: flex-start;
}

.title2{
	color: rgba(0,255,186,1);
	font-size: 50px;
	transition: 0.3s;
}

.title2:hover{
	color: rgba(255,29,93,1);
}

.title1{
	color: rgba(255,29,93,1);
	font-size: 50px;
	transition: 0.3s;
}

.title1:hover{
	color: rgba(0,255,186,1);
}

.spaceTitle{
	display: inline-block;
  	width: 13px;
}

.info{
	font-family: Helvetica-Light;
	color: rgba(200,200,200,1);
	font-size: 20px;
	letter-spacing: -0.5px;
}

.hr1{
    border: 0;
    height: 3px;
    background: #333;
    background: linear-gradient(to right, rgba(255,29,93,1) 20%, rgba(0,255,186,1) 20%);
    margin-bottom: 40px;
    margin-top: 80px;
}

.rightSide{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prof{
	height: auto;
	width: 85%;
	border-radius: 100%	;
	box-shadow: -4px -4px 10px 0 rgba(255,255,255,0.07),
              	4px 4px 10px 0 rgba(0,0,0,0.35);
    margin-bottom: 30px;
}

.lists{
	display: flex;
	align-items: left;
	font-family: Helvetica-Light;
	color: rgba(200,200,200,1);
	font-size: 20px;
	letter-spacing: -0.5px;
	margin-left: -20px;
}

.listTitle{
	font-family: Helvetica-Bold;
	font-size: 22px;
	padding-bottom: 10px;
	margin-left: -20px;
}