@font-face{
  font-family: "yoxallbold";
  src: local('yoxallbold'), url(./fonts/yoxall-bold.ttf) format('truetype');
}

@font-face{
  font-family: "Helvetica-Light";
  src: local('Helvetica-Light'), url(./fonts/Helvetica-Light.ttf) format('truetype');
}

@font-face{
  font-family: "Helvetica-Bold";
  src: local('Helvetica-Bold'), url(./fonts/Helvetica-Bold.ttf) format('truetype');
}

.pages{
  margin:auto;
  width: 87.5%;
}

.landing {
  text-align: center;
  display:flex;
  align-items: center;
  height: 100vh;
}

.background{
  width: 100%;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
} 

.particles{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(30,30,30,1);
  z-index: -100;
  height: 100%;
}

.logo_background{
  width:53%;
  z-index: 1;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4%;
}

.menuBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 60px;
  z-index: 100;
  margin-left: 10px;
}

.menuButton{
  min-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(27,27,27,1);
  border-radius: 50px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  transition: 0.3s;
  fill: rgba(0,255,186,1);
}

.menuButton:hover{
  fill: rgba(255,29,93,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
            inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.menuItem1{
  min-height: 35px;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(27,27,27,1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  width: 35px;
  height: 35px;
  border-radius: .5em;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  fill: rgba(255,29,93,1);
  opacity: 0;
}

.menuItem1:hover{
  fill: rgba(0,255,186,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
              inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.menuItem2{
  min-height: 35px;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(27,27,27,1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.4s;
  width: 35px;
  height: 35px;
  border-radius: .5em;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  fill: rgba(0,255,186,1);
  opacity: 0;
}

.menuItem2:hover{
  fill: rgba(255,29,93,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
              inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.menuBar:hover{
  height: 250px;
}

.menuBar:hover .menuItem1 {
  display: flex;
  opacity: 1;
  transition-delay: 0.1s;
}

.menuBar:hover .menuItem2 {
  display: flex;
  opacity: 1;
}

.menuBar:hover .menuButton{
  fill: rgba(255,29,93,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
            inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.greeting{
  margin-bottom: 5px;
}

.textContainer{
  padding-top: 50px;
  text-align: left;
  margin:auto;
  z-index: 2;
}

.text { 
  display: inline-block;
  transition: 0.25s;
  color: white; 
  font-family: 'yoxallbold';
  letter-spacing: -3px;
  font-size: 70px;
}

.header{
  transition: 0.3s;
}

@keyframes shake {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.text.animated{
  animation: shake 0.75s ease-out;
}

.text:hover {
  color: rgba(0,255,186,1);
}

.text:nth-of-type(even):hover{
  color: rgba(255,29,93,1);
}

@keyframes pulse {
  0%{
    color: rgba(255,29,93,1);
  }
  50%{
    color: rgba(0,255,186,1);
  }
  100%{
    color: rgba(255,29,93,1);
  }
}

.name{
  display:inline-block;
  transition: 0.5s;
  color: white; 
  font-family: 'yoxallbold';
  letter-spacing: -3px;
  font-size: 70px;
  animation: pulse 2s infinite;
}

.name.animated{
  animation: shake 0.75s ease-out;
}

.name:nth-of-type(6){
  animation-delay: 0.1s;
}

.name:nth-of-type(7){
  animation-delay: 0.2s;
}

.name:nth-of-type(8){
  animation-delay: 0.3s;
}

.name:nth-of-type(9){
  animation-delay: 0.4s;
}

.space{
  display: inline-block;
  width: 17px;
}

.desc{
  color: rgba(100,100,100,1);
  font-family: Helvetica;
  letter-spacing: 3px;
  font-size: 15px;
}

.learnMore{
  color: rgba(0,255,186,1);
  text-decoration: none;
  padding: 20px;
  font-size: 15px;
  font-family: Helvetica;
  letter-spacing: 4.5px;
  border-radius: 30px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  background-color: rgba(27,27,27,1);
  z-index: 2;
  transition: 0.3s;
}

.learnMore:hover{
  color: rgba(255,29,93,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
              inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.bar{
  box-shadow: -4px 0px 5px 0 rgba(255,255,255,0.05);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(27,27,27,1);
  height: 100%;
  width: 5%;
  position: fixed;
  margin-left: 95%;
  z-index: 100;
}

.contact_bar{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.logo{
  height: 100%;
  width: 100%;
  transition: 0.3s;
  border-radius: .5em;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  fill: rgba(15,35,66,1);
}

.logoButton{
  margin-top: 15px;
  width: 35px;
  height: 35px;
}

.logo:hover{
  fill: rgba(255,29,93,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
              inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.iconContact1{
  transition: 0.3s;
  width: 35px;
  height: 35px;
  border-radius: .5em;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  fill: rgba(0,255,186,1);
}

.iconContact1:hover{
  fill: rgba(255,29,93,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
              inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

.iconContact2{
  transition: 0.3s;
  width: 35px;
  height: 35px;
  border-radius: .5em;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.07),
              4px 4px 3px 0 rgba(0,0,0,0.35);
  fill: rgba(255,29,93,1);
}

.iconContact2:hover{
  fill: rgba(0,255,186,1);
  box-shadow: inset -2px -2px 3px 0 rgba(255,255,255,0.1),
              inset 2px 2px 3px 0 rgba(0,0,0,0.35);
}

*{
  scroll-behavior: smooth;
}