@font-face{
  font-family: "Helvetica-BoldOblique";
  src: local('Helvetica-BoldOblique'), url(./fonts/Helvetica-BoldItalic.ttf) format('truetype');
}

.Art{
	display: flex;
	flex-direction: column;
	align-items: left;
}

.hr3{
    border: 0;
    height: 3px;
    background: #333;
    background: linear-gradient(to right, rgba(255,29,93,1) 60%, rgba(0,255,186,1) 60%);
    margin-bottom: 40px;
    margin-top: 80px;
}

.artSlide{
	display: none;
	background-color: rgba(27,27,27,1);
	padding: 50px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: -40px;
	text-align: center;
	width: 1000px;
	height: 500px;
  	box-shadow: -4px -4px 3px 0 rgba(255,255,255,0.02),
      			4px 4px 3px 0 rgba(0,0,0,0.25);
}

.number{
	margin-left: -20px;
	margin-top: -20px;
	font-family: Helvetica-Light;
	float:left;
	font-size: 18px;
	color: rgba(100,100,100,1);
}

.picTitleContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.picTitle{
	margin-top: -30px;
	font-family: Helvetica-BoldOblique;
	font-style: ;
	color: rgba(200,200,200,1);
	font-size: 40px;
}

.picImage{
	margin-top: 20px;
	height: 47%;
	width: 47%;
}